<template>
  <article class="row">
    <img
      class="flex lg4"
      src="http://www.goddess-athena.org/Museum/Sculptures/Alone/Athena_Euenor.jpg"
      alt="Athena image"
    />
    <div class="content pl-5 flex lg8">
      <h1 class="display-2 mb-4">Athena from Aegina</h1>
      <va-chip shadow class="mr-2" color="#70AFF0"> 505-500 BCE </va-chip>
      <va-chip color="#A4CBF3">Munich, Museum of Sculptures, Hall VII</va-chip>
      <va-divider class="my-3" />
      <p class="display-6">
        The warrior Athena from the Temple of Aegina. Although archaic this
        statue already suggests the Athena of the classical art.
      </p>
    </div>
  </article>
</template>

<style scoped>
img {
  max-height: 700px;
  max-width: 400px;
}

.content {
  font-family: 'Lato', sans-serif;
}
</style>
