<script setup>
import { ref } from 'vue'
import { getCharacters } from '../api'
</script>

<template>
  <div class="row">
    <div class="flex lg3">
      <va-card :to="{ name: 'character', params: { id: 1 } }">
        <va-image
          contain
          src="http://www.goddess-athena.org/Museum/Sculptures/Alone/Athena_Euenor.jpg"
          style="height: 200px"
        />
        <va-card-title>Title</va-card-title>
        <va-card-content
          >Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.</va-card-content
        >
      </va-card>
    </div>
    <div class="flex lg3">
      <va-card :to="{ name: 'character', params: { id: 1 } }">
        <va-image
          contain
          src="http://www.goddess-athena.org/Museum/Sculptures/Alone/Lemnia/Lemnia_Dresden_rec_front.jpg"
          style="height: 200px"
        />
        <va-card-title>Title</va-card-title>
        <va-card-content
          >Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.</va-card-content
        >
      </va-card>
    </div>
    <div class="flex lg3">
      <va-card :to="{ name: 'character', params: { id: 1 } }">
        <va-image src="https://picsum.photos/400/200" style="height: 200px" />
        <va-card-title>Title</va-card-title>
        <va-card-content
          >Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.</va-card-content
        >
      </va-card>
    </div>
    <div class="flex lg3">
      <va-card :to="{ name: 'character', params: { id: 1 } }">
        <va-image src="https://picsum.photos/400/200" style="height: 200px" />
        <va-card-title>Title</va-card-title>
        <va-card-content
          >Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.</va-card-content
        >
      </va-card>
    </div>
  </div>
</template>
