<script setup></script>

<template>
  <main>
    <va-navbar shape color="#70AFF0" class="mb-3">
      <template #left>
        <va-navbar-item>
          <router-link :to="{ name: 'home' }">
            <img src="/favicon.png" alt="logo"
          /></router-link>
        </va-navbar-item>
      </template>
      <template #right>
        <va-navbar-item>To become a counter</va-navbar-item>
      </template>
    </va-navbar>
    <section class="layout gutter--md">
      <router-view />
    </section>
  </main>
</template>

<style></style>
